/Matrices/nbproject/private/
/Matrices/build/
/EjercicioVotaciones/nbproject/private/
/EjercicioVotaciones/build/
/AsignacionTurnos/nbproject/private/
/AsignacionTurnos/build/
/PracticaListasSimples/nbproject/private/
/PracticaListasSimples1/nbproject/private/
/PracticaListasSimples1/build/
/EjercicioTurnosBanco/nbproject/private/
/EjercicioTurnosBanco/build/
/AsignacionCitasBanco/nbproject/private/
/AsignacionCitasBanco/build/
/AsignacionCitas/AsignacionCitas/build/
/AsignacionCitas/AsignacionCitas/nbproject/private/
/ListasDobles/nbproject/private/
/ListasDobles/build/
/EjercicioTurnosListasDobles/nbproject/private/
/EjercicioTurnosListasDobles/build/
